@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');/*font-family: 'Prosto One', cursive;*/




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Coming Soon', cursive;
}

/*! --------------------------------------I-N-D-E-X.html--------------- */





.container-bgHeaderIndex{
    width: 100%;
    height: auto;
    background: #726b64;  
    background: -webkit-linear-gradient(to right, #f2c84cc7, #726b64), url(../img/bg/bg1.jpg); 
    background: linear-gradient(to right, #726b6485, #726b6480), url(../img/bg/bg1.jpg);     background-size: cover;
    background-attachment: fixed;    
    position: relative;
}
.block-title1{
    width: 100%;
    height: 30em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.block-title1 div{
    text-align: center;
}
.title1{
    font-family: 'Prosto One', cursive;
    font-size:75px;
    color: #ffffff;
}
.subTitle1{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #ffffff;
}
.block-title1 {
	-webkit-animation: block-title 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: block-title 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}
@-webkit-keyframes block-title {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }
    100% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}
@keyframes block-title {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }
    100% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}


/*?--------------- MAIN -----------------------*/


/*?--------------- SECTION 1----------------------*/
.slider1{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 20px;    
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 20px auto 0;
    grid-column: 2/6;
}
.slider1 ul{
    display: flex;
    padding: 0;
    width: 600%;
    animation: cambio 20s infinite alternate ease-in-out;
}
.slider1 li{
    width: 100%;
    list-style: none;
}
.slider1 img{
    width: 100%;
    height: 100%;
}

@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}


/*? SECTION 1*/
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    
}
.container1 div{
    margin: 30px;
    width: 95%;
    height: 100%;
    border-radius: 40px;
}
.container1 div img{
    width: 400px;
    border-radius: 40px;
}
.container1 h2{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}

.container1_targetLugar{
    width: 100%;
    font-size: 20px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container1_targetAmbiente{
    width: 100%;
    display: flex;
    font-size: 20px;
    flex-direction: row-reverse;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container1_targetExperiencia{
    width: 100%;
    display: flex;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*? SECTION 2*/

.container2 {
    width: 100%;
    height: 150vh;
    background-color: #1a1a1a;
}
.container2_titulo{
    text-align: center;
    color:#fff;
}
.container2_titulo h1{
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 48px;
    display: inline-block;
    position: relative;
    
}
.container2_titulo h1::after, .container2_titulo h1::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 4px;
    background-color: currentColor;
    top: 0.5em;
}
.container2_titulo h1::before{
    left: -400px;
}
.container2_titulo h1::after{
    right: -400px;
}
.container2_targets{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3   0px;
    justify-content: space-evenly;
}
.imagen_menu{
    text-align: center;
    color: white;
    margin-top: 20px;
}
.imagen_menu img{
    width: 300px;
    height: 200px;
    border: 2px solid white;
    box-shadow: 0 0 5px 0 rgba(255, 254, 254, 0.7);
}

.btn_irMenu{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.section3-index-title{
    text-align: center;
    font-size: 50px;
}
.section3-index div p{
    font-size: 20px;
}

.section3-index-container { 
    width: 100%;
    display: grid;
    gap: 1rem;
    place-content: center;
    grid-template-columns: repeat(auto-fill,minmax(15rem, 1fr));
}
.section3-index-container-caja{
    width: auto;
    text-align: center;
}
.section3-index-container-caja img{
    width: 100%;
    height: 400px;
    
}
.section3-index-container-caja-info h3{
    color: #1a1a1a;
    font-size: 20px;
    padding: 5px 0;
    font-family: 'Prosto One', cursive;
}
.section3-index-container-caja-info-redes img{
    width: 20px;
    height: 20px;
}




/*! ----------------------------------------------MENU.HTML*/
.backgroundHeader2{
    height: 100%;
    background: #726b64;  
    background: -webkit-linear-gradient(to right, #f2c84cc7, #726b64), url(../img/bg/bg3.jpg); 
    background: linear-gradient(to right, #726b6493, #726b6493), url(../img/bg/bg3.jpg);     background-size: cover;
    background-attachment: fixed;    
    position: relative;
}
.container_menu{
    height: 100%;
    background-color: #1a1a1a;
}

.menu_carnes{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 4px solid white;
}

.texto{
    font-family: 'Anton', sans-serif;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 200px;
    font-weight: bold;

    background-image: url('../img/food/carne1.jpg');
    background-size: cover;
    background-position-y: center;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px white;

}
.lista_comida{
    color: #fff;
    font-size: 20px;

}

.menu_pastas{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 4px solid white;
}

.texto2{
    font-family: 'Anton', sans-serif;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 200px;
    font-weight: bold;

    background-image: url('../img/food/pasta1.jpg');
    background-size: cover;
    background-position-y: center;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px white;
}
.menu_hamburguesas{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 4px solid white;
}

.texto3{
    font-family: 'Anton', sans-serif;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bold;

    background-image: url('../img/food/hamburguesaPollo.jpg');
    background-size: cover;
    background-position-y: center;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px white;
}
.menu_pizzas{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 4px solid white;
}

.texto4{
    font-family: 'Anton', sans-serif;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 200px;
    font-weight: bold;

    background-image: url('../img/food/pizzaItalia.jpg');
    background-size: cover;
    background-position-y: center;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px white;
}

.menu_mariscos{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 4px solid white;
}

.texto5{
    font-family: 'Anton', sans-serif;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: bold;

    background-image: url('../img/food/marisco1.jpg');
    background-size: cover;
    background-position-y: center;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px white;
}

.menu_vegana{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 4px solid white;
}

.texto6{
    font-family: 'Anton', sans-serif;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 200px;
    font-weight: bold;

    background-image: url('../img/food/vegan1.jpg');
    background-size: cover;
    background-position-y: center;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px white;
}
.menu_postres{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 4px solid white;
}

.texto7{
    font-family: 'Anton', sans-serif;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 200px;
    font-weight: bold;

    background-image: url('../img/food/postre1.jpg');
    background-size: cover;
    background-position-y: center;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px white;
}
.menu_bebidas{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 4px solid white;
}

.texto8{
    font-family: 'Anton', sans-serif;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 200px;
    font-weight: bold;

    background-image: url('../img/food/Bebida1.jpg');
    background-size: cover;
    background-position-y: top;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px white;
}

.lista_comida ul li{
    border-bottom:solid 1px white;
    width:100%;
    height: 70px;
}


.backgroundHeader3{
    height: 100%;
    background: #726b64;  
    background: -webkit-linear-gradient(to right, #f2c84cc7, #726b64), url(../img/negocio/Historia1.jpg); 
    background: linear-gradient(to right, #726b6493, #726b6493), url(../img/negocio/Historia1.jpg);     background-size: cover;
    background-attachment: fixed;  
    position: relative;
}
.seccion1{
    width: 100%; 
    height: 100vh;
}

.seccion1_ubhr{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
    height: 100%;
    justify-content: space-around;
}

.seccion1_ubhr iframe{
    width: 600px;
    height: 500px;
    border: 2px solid black;
    border-radius: 30px;
}
.seccion1_horario {
    width: 400px;
    height: 500px;
    border-radius: 40px;
    background-image: url(../img/negocio/ambiente2.jpg);
    color: #fff;
    text-align: center;
    padding-top: 80px;
    font-size: 24px;
}

/*! seccion 2*/
.seccion2_consulta{
    background-image: url(../img/bg/bg2.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: end;

}

.seccion2_msj{
    width: 500px;
    height: 90vh;
    margin-left: 5%;
    border-radius: 20px;
}
.seccion2_msj_input{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 16px;
    margin-left: 40px;
}
.seccion2_msj_input p{
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.seccion2_msj_input div input{
    width: 70%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
}


/*! -----SobreNosotros.html-----*/
.container-bgHeader{
    background: #726b64;
    width: 100%;
    height: auto;
    background: #726b64;  
    background: -webkit-linear-gradient(to right, #f2c84cc7, #726b64), url(../img/negocio/ambiente2.jpg); 
    background: linear-gradient(to right, #726b6485, #726b6480), url(../img/negocio/ambiente2.jpg);     background-size: cover;
    background-attachment: fixed;    
    position: relative;

}
.header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 4px 10%;
}

.header .logo img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
}
.header .logo{
    cursor: pointer;
}
.header .logo .img:hover{
    transform: scale(1.2);
}
.header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    padding: 0 20px;
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0 15px;
}
.nav-links li:hover{
    transform: scale(1.1);
}
.nav-links a{
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}
.nav-links li a:hover{
    color: orange;
}
.btn button{
    font-weight: 700;
    color:black;
    padding: 9px 25px;
    background: #ffffff;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}
.btn button:hover{
    color: orange;
    transform: scale(1.1);
}    

.block-title{
    width: 100%;
    height: 30em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.block-title div{
    text-align: center;
}
.title{
    font-family: 'Open Sans', sans-serif;
    font-size:120px;
    color: #ffffff;

}
.subTitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #ffffff;
}

/*? MAIN */














.section-history{
    background: #726b64;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5,1fr);
    
}
.section-history div{
    border: 1px solid red;
}
.section-history .history{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/6;
}
.history h2{
    padding: 50px;
    font-size: 60px;
}
.history p{
    font-size: 18px;
    padding: 20px;
}
.container-target{
    width: 50%;
    height: auto;
    grid-column: 2/6;
}
.container-target .target{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 5px;
    border: 2px solid black;
}
.container-target .target img{
    width: 50px;
    height: 50px;
}


.slider{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 20px;    
    width: 50%;
    height:auto;
    overflow: hidden;
    margin: 20px auto 0;
    grid-column: 2/6;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 600%;
    animation: cambio 20s infinite alternate ease-in-out;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}

@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}



/*! ----------------------------T-e-s-t-i-m-o-n-i-o.html---------------------- */

/*? -----------------HEADER-------------------------*/
.container-bgHeaderTestimonio{ /* Background header */
    width: 100%;
    height: auto;
    background: #726b64;  
    background: -webkit-linear-gradient(to right, #f2c84cc7, #726b64), url(../img/negocio/experiencia.jpg); 
    background: linear-gradient(to right, #726b6485, #726b6480), url(../img/negocio/experiencia.jpg);     background-size: cover;
    background-attachment: fixed;    
    position: relative;
}
.header{
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 4px 10%;
}
.header .logo img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
    
}
.header .logo{
    cursor: pointer;
}
.header .logo .img:hover{
    transform: scale(1.2);
}
.header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    padding: 0 20px;
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0 15px;
}
.nav-links li:hover{
    transform: scale(1.1);
}
.nav-links a{
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Prosto One', cursive;
}
.nav-links li a:hover{
    color: orange;
}
.btn button{
    font-weight: 700;
    color:black;
    padding: 9px 25px;
    background: #ffffff;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Prosto One', cursive;
}
.btn button:hover{
    color: orange;
    transform: scale(1.1);
}    
.block-title{
    width: 100%;
    height: 30em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.block-title div{
    text-align: center;
}
.title{
    font-family: 'Prosto One', cursive;
    font-size:120px;
    color: #ffffff;
}
.subTitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #ffffff;
}
.block-title {
	-webkit-animation: block-title 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: block-title 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}
@-webkit-keyframes block-title {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }
    100% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}
@keyframes block-title {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }
    100% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}

/*? -------------------- Section1--------------------*/
.elementos-star-rating{
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
}
.total-resenia h2{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}
.elementos-star-rating i{
    font-size: 30px;
    padding-right: 3px;
    color: rgb(255, 234, 46);
}
.total-resenia{
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.elementos-star-rating .valor-rating{
    font-size: 30px;
    text-align:start;
    padding: 10px 0;
}
.total-resenia p{
    padding: 30px 0;
    font-size: 20px;
}
.section1{
    width: 100%;
    display: flex;
    align-items: center;   
}
/*? -----------testimonios-------------*/
.elementos-resenia{
    width: 670px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 40px;
    
}
.elementos-resenia i{
    font-size: 25px;
    color: rgb(255, 234, 46);
}
.container-testimonios{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.testimonio-caja{
    width: 600px ;
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.testimonio-caja:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.perfil-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}
.perfil-img img{
    width: 100%;
    height: 100%;
    object-fit: center;
}
.perfil{
    display: flex;
    align-items: center;
}
.nombre-usuario{
    display: flex;
    flex-direction: column;
}
.nombre-usuario strong{
    color: #3d3d3d;
    font-size: 1.3rem;
}
.nombre-usuario span{
    color: #979797;
    font-size: 1.1rem;    
}
.caja-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/*? -------------------- Section2 --------------------*/
.container-flex{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.section3{/*? -------------------- Section3 --------------------*/
    background: #726b64;
    width: 100%;
    height: 100vh;
    background: #726b64;  
    background: -webkit-linear-gradient(to right, #f2c84cc7, #726b64), url(../img/negocio/mesas.jpg); 
    background: linear-gradient(to right, #726b6485, #726b6480), url(../img/negocio/mesas.jpg);     background-size: cover;
    background-attachment: fixed;    
    position: relative;
}
.seccion-reservas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.seccion-reservas h2{
    font-size: 70px;
    color: white;
    font-family: 'Prosto One', cursive;
}
.seccion-reservas p{
    color: white;
}
.seccion-reservas a{
    padding: 50px;
}
.seccion-reservas h4{
    color: white;
    font-size: 25px;
    font-family: 'Prosto One', cursive;
}

/*? -------------------- Footer --------------------*/
.footer{
    background: #1a1a1a;
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    background-size: cover;
    padding-top: 50px;
}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    
}
.box__footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    
}
.box__footer .logo img{
    width: 180px;
}
.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-size: 18px;
}
.box__footer h2{
    margin-bottom: 30px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Prosto One', cursive;
}
.box__footer p{
    color: white; 
    font-weight: 600;
}
.box__footer a{
    margin-top: 10px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.box__footer a:hover{
    opacity: 0.8;
    color: orange;

}
.box__footer .img-logo{
    width: 20px;
    height: 20px;
}
.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box__copyright p{
    margin-top: 20px;
    color: white;
}
.box__copyright hr{
    border: none;
    height: 1px;
    background-color: white;
}

html{
    height: 100%;

}
@media screen and (max-width:480px) {
    .section2{
        width: 100%;
    }
    .header .logo img{
        width: 350px;
        height: 200px;
    }
    .header{
        width: 100%;
        flex-direction: column;
    }
    .navbar{
        width: 100%;
        flex-direction: column;
    }
    .nav-links{
        text-align: center;
        flex-direction: column;
    }
    .seccion-reservas h2{
        font-size: 50px;
    }
    .section1{
        flex-direction: column;
        
    }
    .title{
        font-size: 50px;
    }
    .elementos-resenia{
        width: 450px;
        padding: 0 10px;
    }
    .title1{
        font-size: 30px;
    }
    .container1 div img{
        width: 100%;
        height: 200px;
    }
    .container1_targetLugar{
        flex-direction: column;
    }
    .container1_targetAmbiente{
        flex-direction: column;
    }
    .container1_targetExperiencia{
        flex-direction: column;
    }
    .container1_targetLugar p{
        font-size: 10px;
    }
    .container1_targetAmbiente p{
        font-size: 10px;
    }
    .container1_targetAmbiente{
        flex-direction: column;
    }
    .container1_targetExperiencia{
        flex-direction: column;
    }
    .container1_targetExperiencia p{
        font-size: 10px;
    }
    .container1 h2{
        margin-top: 40px;
        font-size: 23px;
        text-align: center;
    }
    .container2_titulo h1{
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 20px;
        display: inline-block;
        position: relative;
        
    }
    .container2_titulo h1::after, .container2_titulo h1::before{
        content: "";
        position: absolute;
        width: 10px;
        height: 5px;
        background-color: currentColor;
        top: 0.5em;
    }
    

}
@media screen and (max-width:768px){
    .container-bgHeaderTestimonio{
        width: 100%;
        background-position: center;
    }
    .section2{
        width: 100%;
    }
    .header .logo img{
        width: 350px;
        height: 200px;
    }
    .header{
        width: 100%;
        flex-direction: column;
    }
    .container-flex{
        width: 100%;
        justify-content: center;
    }
    .navbar{
        width: 100%;
        flex-direction: column;
    }
    .nav-links{
        text-align: center;
        flex-direction: column;
    }
    .seccion-reservas h2{
        font-size: 50px;
    }

    .section1{
        flex-direction: column;
        
    }
    .title{
        font-size: 50px;
    }
    .elementos-resenia{
        width: 450px;
        padding: 0 10px;
    }



}
